@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
}

#__next {
  background: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1.5rem;
  color: white;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
  background: #1f8fff;
  border-radius: 50px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

@media (width > 450px) {
  #__next {
    padding: 2rem;
  }
}

@media (width > 640px) {
  #__next {
    padding: 2.5rem 5rem;
  }
}

@media (width > 768px) {
  #__next {
    padding: 3rem 8rem;
  }
}

@media (width > 1024px) {
  #__next {
    padding: 3rem 11rem;
  }
}

@media (width > 1280px) {
  #__next {
    padding: 3rem 15rem;
  }
}
