@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .project-bg {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
}

#__next {
  background: black;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: white;
  gap: 2rem;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
  background: #1f8fff;
  border-radius: 50px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

@media (width >= 450px) {
  #__next {
    padding-top: 4rem;
  }
}
