.header {
  width: 100%;
  height: auto;
  padding: 20px 30px;
  max-width: 900px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  position: relative;
  /* overflow: hidden; */
  /* background: green; */
  /* box-shadow: 0px 10px 15px 10px var(--lighter-black); */
  border-bottom: 1px solid black;
}

.profile {
  width: 50px;
  height: 50px;
  background: var(--white);
  border-radius: 50%;
  color: var(--black);
  font-size: 25px;
  display: flex;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.links {
  display: none;
  width: 430px;
  height: auto;
  align-items: center;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: var(--white);
  font-size: 25px;
}

.link:hover {
  color: var(--red);
}

.img {
  width: 45px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.close {
  width: 40px;
  display: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 90px;
  right: 0;
  width: 180px;
  height: auto;
  color: white;
  background: var(--black);
  z-index: 999;
  display: none;
  border: 1px solid var(--red);
  transition: all 0.1s linear;
}

.show {
  display: block;
}

.dropdown ul {
  width: 100%;
  height: auto;
  padding: 20px;
}

.dropdown ul li {
  list-style: none;
  font-size: 25px;
  color: var(--white);
  width: 100%;
  text-align: center;
  margin: 30px 0;
}

.dropdown ul li:hover {
  color: var(--red);
}

@media (min-width: 600px) {
  .header {
    padding: 30px 30px;
  }

  .imgs {
    display: none;
  }

  .links {
    display: flex;
  }
}
