.wrapper {
  width: 100%;
  max-width: 900px;
  padding: 30px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.proj {
  width: 100%;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 15px;
  background: var(--light-black);
  padding: 25px 0;
  border-radius: 5px;
  position: relative;
}

.name {
  font-size: 25px;
  padding: 0 20px;
  color: var(--white);
}

.links {
  width: 100%;
  height: auto;
  padding: 0 20px;
  display: flex;
  gap: 10px;
}

.site,
.code {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  display: flex;
  gap: 10px;
}

.site {
  color: var(--white);
}

.site img,
.code img {
  width: 15px;
}

.code img {
  width: 20px;
}

.site:hover,
.code:hover {
  color: var(--blue);
}

.stack {
  width: 100%;
  padding: 0 20px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.tech {
  display: inline;
  color: var(--blue);
}
