.socials {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  gap: 30px;
  background: var(--light-black);
}

.socials img {
  width: 35px;
  height: auto;
}
