.wrapper {
  width: 100%;
  height: auto;
  max-width: 900px;
  padding: 20px 30px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill {
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.skill img {
  width: 50px;
}
